@model Zaliczenie_JiPP5v2.Models.ProduktModel

@{
    ViewData["Title"] = "Add";
}

<h1>Dodaj Produkt </h1>

@*<h4>ProduktModel</h4>
*@<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KATEGORIA" class="control-label"></label>
                <input asp-for="KATEGORIA" class="form-control" />
                <span asp-validation-for="KATEGORIA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NAZWA" class="control-label"></label>
                <input asp-for="NAZWA" class="form-control" />
                <span asp-validation-for="NAZWA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ILOSC" class="control-label"></label>
                <input asp-for="ILOSC" class="form-control" />
                <span asp-validation-for="ILOSC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JEDNOSTKA" class="control-label"></label>
                <input asp-for="JEDNOSTKA" class="form-control"/>
                
                <span asp-validation-for="JEDNOSTKA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DATA_KUPNA" class="control-label"></label>
                <input asp-for="DATA_KUPNA" class="form-control" />
                <span asp-validation-for="DATA_KUPNA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LOKALIZACJA" class="control-label"></label>
                <input asp-for="LOKALIZACJA" class="form-control" />
                <span asp-validation-for="LOKALIZACJA" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>*@
            <div class="form-group">
                @*<input type="submit" value="Create" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                onclick="return confirm('Jesteś pewien, że chcesz dodać nowy film do bazy danych?');" />*@
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Dodaj
                </button>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Potwierdenie</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Zapisz jeżeli chcesz dodać produkt do Twoich zasobów
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toagle="tooltip"
                                    data-placement="bottom" title="spowoduje anulowanie zapisu do bazy danych">
                                Close
                            </button>
                            @* <button type="button" class="btn btn-primary">Save changes</button>*@
                            <input type="submit" value="Save" class="btn btn-primary" data-toagle="tooltip" data-placement="bottom"
                                   title="spowoduje zapis do bazy danych" />
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
