@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w programie napisanym w architekturze MVC!</h1>
    <p>Jest to aplikacja stworzona na potrzeby zaliczenia projektu,</p>
    <p>oparta na wiedzy i umiejętnościach zdobytych podczas zajęć oraz pracy własnej.</p>
    <p>Opracowal Kobyliński Tadeusz</p>
</div>
