@model FilmDB.Models.FilmModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>FilmModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>*@
    

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <input asp-for="Title" class="form-control" />
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Year</span>
                    <span asp-validation-for="Year" class="text-danger"></span>

                </div>
                <input asp-for="Year" class="form-control" />
@*                <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
*@            </div>
            <div class="form-group">
                @*<input type="submit" value="Create" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                       onclick="return confirm('Jesteś pewien, że chcesz dodać nowy film do bazy danych?');" />*@
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Create
                </button>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Potwierdenie</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Zapisz jeżeli chcesz dodać film do bazy danych
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toagle="tooltip"
                                    data-placement="bottom" title="spowoduje anulowanie zapisu do bazy danych">
                                Close
                            </button>
                           @* <button type="button" class="btn btn-primary">Save changes</button>*@
                            <input type="submit" value="Save" class="btn btn-primary" data-toagle="tooltip" data-placement="bottom"
                            title="spowoduje zapis do bazy danych"/>
                        </div>
                    </div>
                </div>
            </div>
          
            @* przycisk create przed zmiana
                <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            *@
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
