@{
    ViewData["Title"] = "Film Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Film </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Welcome on my FilmManager Page</a>.</p>
</div>
